body{
	background-color:blue;
	text-align:center;
	font-family:sans-serif;
	color:white;
}
input,textarea{
	margin:auto;
	display:block;
}
ul{
	display:inline-block;
	margin:auto;
}
a{
	color:white;
	text-decoration:none;
}
input{
	width:150px;
}
button{
	margin-top:20px;
}